# OPENAI API Key https://platform.openai.com/settings/organization/api-keys
OPENAI_API_KEY=API-KEY

# Tavily API Key (para pesquisa web) https://app.tavily.com/home (FREE USE)
TAVILY_API_KEY=API-KEY

# Porta do servidor
PORT=8000